<div class="modal fade in" tabindex="-1" role="dialog" data-bs-backdrop="false" id="form-modal">
    <div class="modal-dialog draggable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert-secondary">
                
            </div>
        </div>
    </div>
</div>

<!-- Agrega jQuery UI para mover el modal -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Agrega Hammer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script>
    $(document).ready(function () {
        // Hacer el modal arrastrable con jQuery UI
        $('.draggable').draggable({
            handle: '.modal-header'
        });

        // Agregar soporte táctil con Hammer.js
        $('.draggable').hammer().on('pan', function (event) {
            $(this).css({
                left: event.gesture.deltaX + 'px',
                top: event.gesture.deltaY + 'px'
            });
        });
    });
</script>